<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Title</title>
    {% endblock %}

    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <script src="/static/jQuery/jquery-3.2.1.min.js"></script>
    {% block css %}

    {% endblock %}
</head>

<body>
<div class="container">
    <div class="row">
        {% block header %}

        {% endblock %}


        {% block content %}

        {% endblock %}


    </div>
</div>
{% block javascript %}

{% endblock %}
</body>
</html>