<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>删除页面</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <script src="/static/jQuery/jquery-3.2.1.min.js"></script>
</head>

<body>
<div class="container">

    <form action="" method="post" class="text-center">
        {% csrf_token %}
        <p class="text-info">你确认要删除这条记录?</p>
        <button class="btn btn-danger">确认</button>
        <a href="{{ url }}" class="btn btn-primary">取消</a>
    </form>

</div>
</body>
</html>

