<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <script src="/static/jQuery/jquery-3.2.1.min.js"></script>

</head>
<body>

<h3>Index页面</h3>
<p><button class="btn btn-success add" onclick="foo()">+</button></p>
<p class="tel"></p>
</body>

<script>
function foo() {
{#    window.open("http://www.baidu.com","","width=600,height=400,left=100,top=100")#}
    window.open("/add/","","width=600,height=400,left=100,top=100")
}

function bar(arg) {
    alert(arg)
    $(".tel").text(arg);

}

</script>

</html>